{% extends '_layouts/base.html'%}
{% load static %}
    {% block css %}
	<link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css" />
    {% endblock css %}
{% block headline %} <h1> Welcome to Globl.News</h1> {% endblock headline %}

{% block content %}
    <h2>Articles</h2>
    <ul>
        {% for summary in object_list %}
            <li>{{ summary.title }}</li>
        {% endfor %}
    </ul>
        {% for summary in object_list %}
            <li>{{ summary.title }}</li>
        {% endfor %}
    <div class="row">
        <div class="column">
            <div class="overview_container">
                <img src="{% static "pictures/square.png" %}" alt="My image"/>
                <div class="centered">Centered1</div>
            </div>
            <div class="overview_container">
                <img src="{% static "pictures/square.png" %}" alt="My image"/>
                <div class="centered">Centered2</div>
            </div>
        </div>
        <div class="column">
            <div class="overview_container">
                <img src="{% static "pictures/square.png" %}" alt="My image"/>
                <div class="centered">Centered3</div>
            </div>
            <div class="overview_container">
                <img src="{% static "pictures/square.png" %}" alt="My image"/>
                <div class="centered">Centered4</div>
            </div>
        </div>
        <div class="column">
            <div class="overview_container">
                <img src="{% static "pictures/square.png" %}" alt="My image"/>
                <div class="centered">Centered5</div>
            </div>
            <div class="overview_container">
                <img src="{% static "pictures/square.png" %}" alt="My image"/>
                <div class="centered">Centered6</div>
            </div>
        </div>
        <div class="column">
            <div class="overview_container">
                <img src="{% static "pictures/square.png" %}" alt="My image"/>
                <div class="centered">Centered7</div>
            </div>
            <div class="overview_container">
                <img src="{% static "pictures/square.png" %}" alt="My image"/>
                <div class="centered">Centered8</div>
            </div>
        </div>
    </div>
{% endblock %}