{% extends '_layouts/base.html'%}
{% load static %}
    {% block css %}
	<link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css" />
    {% endblock css %}
{% block headline %} <h1> Welcome to Globl.News</h1> {% endblock headline %}

{% block content %}
    {% load own_filters %}

    <div class="row">
        {% for summary in object_list %}
            {% if forloop.counter|modulo:2 == 1 %}
        <div class="column">
            {% endif %}
            <div class="overview_container">
                <img src="{% static "pictures/square.png" %}" alt="My image"/>
                <div class="centered">{{summary.title}}</div>
            </div>
            {% if forloop.counter|modulo:2 == 0 %}
        </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}