{% extends '_layouts/base.html'%}
{% block headline %}  <h1>Search</h1> {% endblock headline %}
{% block content %}
{% load static %}
{% load own_filters %}
    <form method="get" action=".">
        <table class="table-condensed">
            {{ form.as_table }}
        </table>   
            <input class='btn btn_search' type="submit" value="Search"> 
                
    </form>
        {% if query %}
            <h3 align="center">Results</h3>
            <div class="row-overview">
            {% for result in page.object_list %}
                {% if forloop.counter|modulo:2 == 1 %}
                    <div class="column">
                {% endif %}
                <article class="overview_container">
                    <figure>
                        <a href="{{ result.object.get_absolute_url }}">
                            <img src="{% static "pictures/germany.png" %}" alt="My image"/>
                        </a>
                    </figure>
                    <div class="bottom result">
                        <h4>
                            <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
                        </h4>
                    </div>
                
                </article>
                {% if forloop.counter|modulo:2 == 0 %}
            </div>
                {% endif %}
            {% endfor %}
            </div>

        {% endif %}
    
{% endblock %}