.btn_header_unauthenticated {
	align: center;
	border-radius: 50%;
	background-color: #222;
	border-color: #222;
	color: #8f9296;
}

.btn_header_authenticated:hover{
	color: white;
}

.btn_header_unauthenticated:hover{
	color: white;
}



.btn_header_authenticated {

    position: relative;
	background-color: #222;
	border-color: #222;

	color: #8f9296;

}


.pagename {
    margin-top: 0px;
    padding-bottom: 20px;
		padding-top: 20px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
		text-align: left;

}

.btn_submit {
	font-size: 25px;
}


.btn_search:hover {
    color: white;
    background-color: grey;
}

.btn_search {
    margin-top: 15px;
}

/* CSS for the overview-page
-------------------------------------------------------------------------------
*/
.overview_container {
    position: relative;
    text-align: center;
    margin-left: 10px;

    float: left;
}
/* responsive grid containers
-------------------------------------------------------------------------------
*/
 @media (min-width: 1080px) {
    .container-grid {
        width: 1080px;
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

 @media (max-width: 1080px) {
    .container-grid {
        width: 810px;
        max-width: 100%;
        margin: 0 auto;
    }
}

 @media (max-width: 810px) {
    .container-grid {
        width: 540px;
        max-width: 100%;
        margin: 0 auto;
    }
}

 @media (max-width: 540px) {
    .container-grid {
        width: 270px;
        max-width: 100%;
        margin: 0 auto;
    }
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.bottom {
    position: relative;
    text-align: left;

    margin-bottom: 20px;

}

.row-overview {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  text-align: center;
}

/* Create four equal columns that sits next to each other */
.column {

  margin-top: 10px;
  margin-bottom: 10px;

  width: 25%;
  padding: 0;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}


/* Responsive layout - makes a 3 column-layout instead of four columns */
@media (max-width: 1070px) {
  .column {
    flex: 33%;
    width: 33%;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 810px) {

  .column {
    flex: 50%;
    width: 50%;
  }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media (max-width: 540px) {

  .column {
    flex: 100%;
    width: 100%;
  }
}

.result a {
    color: inherit !important;
    font-size: 1.8rem;
}
.result h4 {
    color: black !important;
    font-size: 1.5rem;
}
.result {
    color: black;
    font-size: 2rem;
}

/*CSS for the footer
-----------------------------------------------------------------------
*/


html {
  position: relative;
  min-height: 100%;
}

body {

    padding-bottom: 170px;
}


footer{

}

@media (max-height:800px){
	footer { position: absolute;
				 }
	header { padding-top:40px; }
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
    margin-top: 10px;
	padding: 45px 50px;
    bottom: 0;
    position: absolute;

}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;

}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;

	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
		}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}


/* FAQ CSS */
.question {
	font-size:20px
}

th, td {
    padding: 10px;
    vertical-align: top;
}

.faq_table {
    margin-left: auto;
    margin-right: auto;
}



/*------------------summary detail view css-----------------------------*/
.summary_text{
	width: 60%;
	font-size: 16px
}


/*-----------------content--------------------------------*/
.content{
	font-size: 16px;
	width: 70%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.content_header{
	width: 70%;
	margin-left: auto;
	margin-right: auto;

}


/*-----------------science--------------------------------*/
.bias_header{
	font-size:16px
}


/*-----------------instrtioncs--------------------------------*/
.instructions_header{
	font-size:20px;
	font-weight: bold;
}
