{% extends '_layouts/base.html'%}

{% block headline %} <h1>FAQ</h1> {% endblock headline %}


{% block content %}



<table class="faq_table" style="width:80%">

 <tr>
   <th>What is the intention of this Webpage?</th>
   <td>We want you to have access to many different articles on the same topic,
       so you can form your own opinion and are not influenced by one author's ideas.
       Click <a href="science">here</a> for a more detailed description of our idea.</td>
 </tr>
 <tr>
   <th>How do newspapers influence us and our opinion?</th>
   <td>To make you more aware of the tricks newspapers use to make us believe
    what they want us to believe, we provided a collection of cognitive biases
    here. If you want to analyse and campare different articles on the same
    topic, it might be helpful to check out our page on Discourse Analysis <a href="instructions">here</a>.</td>
 </tr>
 <tr>
   <th>What countries are the articles from?</th>
   <td>Every country around the world. That's what makes this Website so special.
    We try to get as many different view an the same topic. Of course, different
    people have different opinions. Often, these are shaped by the information
    that was provided to them, but also by their ideas and morals. This is highly
    influenced by the political and cultural situation in a country.
    Articles from many different parts of the world raise awareness for
    the diversity of views on the same issue. By summarizing them in english,
     we want to make them understandable for more people.</td>
 </tr>
 <tr>
   <th>Where does your content come from?</th>
   <td>We are a userbased platform. That means, the summaries provided
   on this page were written by the users. Anyone can send in article summaries
   on specific topics. This guarantees a broad range of opinions and information sources.</td>
 </tr>
 <tr>
   <th>How can I contribute?</th>
   <td>If you want to become a part of this project, we are always happy to
 recieve new content. Have you found an interesting article online?
 Summarize it for us and we will publish it on this website. Do you want
 to help us improve this website? Contact us, we'd like to get some feedback.
  Did you find any issues? Report them here.</td>
 </tr>
 <tr>
    <th>I want to write summaries, too. Which Guidelines should I follow?</th>
    <td>That is great, thank you. Our page only works with people like you. We wrote down our guidelines <a href="instructions">here</a>. If you have any further questions, feel free to contact us before you write your summary.</td>
  </tr>
 <tr>
    <th>I found a summary on your page that I think is summarized incorrectly, how can I report it?</th>
    <td>???</td>
  </tr>
</table>

{% endblock %}
