{% extends '_layouts/base.html'%}

{% block headline %} <div class="content_header"><h1>Instructions</h1></div> {% endblock headline %}

{% block content %}


<div class="content">

<div class="instructions_header"> 1. Read the <a href="instructions">About page</a> to understand the idea of this website. </div>
<br>


<div class="instructions_header"> 2. Find an article to summarize.</div>
<br>


<div class="instructions_header"> 3. Summarize following the following guidelines. </div>
<br>
<p><u>Your summary should clearly display the mood and opinion of the original article.<br>
To ensure this, try to follow these guidelines:</u></p>
<br>
<ul>
<li>Stick to the emotional words used by the author. <br></li>
<li>Use the same labels as in the article. <br></li>
<li>Always mention who's opinion your are referring to. <br></li>
</ul>
<br>
Examples<br>
<br>
<ul>
  <li>Original: "The president made a terrible decision ..."<br>

    <ul>
      <li>don't: "The dictator decided ..." </li>
      <li>do: "The author claims that the president made a bad decision ..."</li>
    </ul>
  </li>
 <br>
  <li>Original: "Finally, this countries people are free ..."<br>
    <ul>
      <li>don't: "This countries slaves are free now ..." </li>
      <li>do:  "In the article it is stated that the people are free now ..."</li>
    </ul>
  </li>
  <br>
</ul>

<br>
<br>
<p><u>Make sure your summary expresses the same main message as the original article:</u></p>
<br>
<ul>
<li>Focus on the big and important points, not on one detail.<br></li>
<li>Direct (translated) quotes can be used and make a lot of sense if they have a strong message. <br></li>
<li>Paraphrase the article in the same order.<br></li>
</ul>
<br>
Examples<br>
<br>
<ul>
  <li>If the original article is about the outcome of a war, don't focus on just one battle.</li>
  <li>If the original article is about a current election, don't focus on just one party.</li><br>

</ul>
<br>
<br>

<p><u>The summary should contain enough information for the reader to undersatnd what it is about but should not be as long as the original. These summaries are specifically for people from other countries who would otherwise not be able to read the original article.
</u></p>
<br>
<ul>
<li>The length of the summary should be 1/3 the length of the original.<br></li>
<li>The first sentence optimally contains a very brief overview over what the summary and the original article are about. This helps the reader decide whether it will be interesting for him/her. <br></li>
<li>Everybody who summarizes an article of a foreign language should feel comfortable enough in that language and in english to do so without needing to transale whole sentence online.<br></li>
</ul>
<br>
<br>
<h4> Hints </h4>
<p>Think about the message of the original article before you write your summary.<br>
Try to keep your own opinion out of the summary.<br>
Read our pages on "discourse analysis" and "cognitive biases".</p>

<br>


<div class="instructions_header"> 4. Upload your summary <a href="summaries/submit">here</a>. </div>







</div>

{% endblock %}
