{% extends '_layouts/base.html'%}

{% block headline %} <h1> Guidelines for your summary</h1> {% endblock headline %}

{% block content %}

<h1> 1. Read the About page to get an idea. </h1>

<h1> 2. Find an article to summarize </h1>

<h1> 3. Summarize following the following guidelines. </h1>
<p>Your summary should clearly display the mood and opinion of the original article.<br>
To ensure this, try to follow these Guidelines:</p>



<h1> 4. Upload your summary here. </h1>


    Stick to the emotional words used by the author.

    Use the same labels as in the article.

    Always mention who's opinion you are quoting/expressing/referring to.

Examples

    Original: "The president made a terrible decision"

don't: "The dictator decided"
do: "The author claims that the president made a bad decision"

    Original: "Finally, this countries people are free"

don't: "this countries slaves are free now"
do: "In the article it is stated that the people are free now"

Make sure your summary expresses the same main message as the original article

    Focus on the big and important points, not on one detail.

    Direct (translated) quotes can be used and make a lot of sense if they have a strong message.

    Paraphrase the article in the same order.

Examples

    If the original article is about the outcome of a war, don't focus on just one battle.
    If the original article is about a current election, don't focus on just one party.

The summary should contain enough information for the reader to undersatnd what it is about but should not be as long as the original. These summaries are specifically for people from other countries who would otherwise not be able to read the original article.

    The length of the summary should be 1/3 the length of the original.

    The first sentence optimally contains a very brief overview over what the summary and the original article are about. This helps the reader decide whether it will be interesting for him/her.

    Everybody who summarizes an article of a foreign language should feel comfortable enough in that language and in english to do so without needing to transale whole sentence online.

TIPS

Think about the message of the original article before you write your summary.

Try to keep your own opinion out of the summary.

Read our pages on "discourse analysis" and "cognitive biases".

{% endblock %}
