{% extends '_layouts/base.html'%}

{% block headline %} <div class="content_header"><h1>About</h1></div> {% endblock headline %}

{% block content %}





<div class="content">


<p>
 <h2>
 Idea
</h2>
</p>
<p>
 In our quick and globalized world we more and more depend on news and social media
 to keep track of the occurrences in the world.<br>
Many things are happening at the same time and besides our jobs, studies, hobbies
 and social activities there is often little time left to get informed. So, we
 often leave it to our phones to filter what they think is interesting for us.<br>
By that we get easily into our own little “filter bubbles” and don´t spend a further
 thought on why whom wrote about what and why they did it in that certain manner.<br>
The information available to us depends highly on the place of the world where we are
 located, which language we understand and how we were raised. <br>
We all wear our socio-cultural glasses. So, do politicians, the media and their
 creators.<br>
Thus every article, every news report in the Tv or newspaper are <a href="science">
 biased</a>. It is not
 necessarily bad but something we should be more aware of. Especially, while creating
 a sophisticated opinion you want to back. <br>
To make these influences and biases more visible in news reports is our main goal.
 At our website this is done by summarizing news articles with respect to our
 <a href="instructions">guidelines</a>. The original article can be in every language but the summary
 should be in English. So, you as a user can read different summaries of articles
 from all over the world about the same topic. By that we can display the difference
 in commentatorship on certain events depending on the type and origin of the newspaper.<br>
Like this the website provides you with many different angles on one topic at one glance.<br>
Sometimes, it is very hard to reproduce an article. Some articles will reflect a severe opinion
 that you as a summary author might not share. Please use the personal comment option to
 convey your personal opinion on your summary and the original article.<br>
If you have any further questions or concerns about the website feel free
 to write us an <a href="imprint.html">E-Mail</a>.<br>
</p>
<p><h2>
About us
</h2>
</p>

<p>Global News was produced as a student project at University of Osnabrück.
</p>
<p>Our team: <br>
Anastasia Mukhina<br>
Johanna Laura Brinkman-Drescher<br>
Jonas Rebstadt<br>
Kirill Sokolov<br>
Lisa-Marie Vortmann<br>
Luke Effenberger<br>
Maria Pershina<br>
Pierluigi Bizzini<br>
Sabina Serikova<br>
Tatiana Almazova<br>

 </p>

<p>
Scientific advisors:
</p>

Uwe Friese
ufriese@uni-osnabrueck.de
<br>
Timo Schmidt
timoschm@uni-osnabrueck.de

</div>




{% endblock %}
