{% extends '_layouts/base.html'%}

{% block headline %} <h1>About</h1> {% endblock headline %}

{% block content %}






<p><h2>
  About us
</h2>
</p>

<p>Global News was produced as a student project at University of Osnabrück.
</p>
<p>Our team: <br>
Anastasia Mukhina<br>
Johanna Laura Brinkman-Drescher<br>
Jonas Rebstadt<br>
Kirill Sokolov<br>
Lisa-Marie Vortmann<br>
Luke Effenberger<br>
Maria Pershina<br>
Pierluigi Bizzini<br>
Sabina Serikova<br>
Tatiana Almazova<br>

 </p>

<p>
Scientific advisors:
</p>

Uwe Friese
ufriese@uni-osnabrueck.de
<br>
Timo Schmidt
timoschm@uni-osnabrueck.de






{% endblock %}
