{% extends '_layouts/base.html'%}

{% block headline %} <div class="content_header"><h1>Scientific Background</h1></div> {% endblock headline %}

{% block content %}


<div class="content">
<br>
<p>
We strive to believe the information we find in the media perfectly reflects
what is actually happening in the world. After an in-depth search for the most
neutral and independent news source, and perhaps even the most trustworthy
author, we might believe we have found THE ONE. However, this is merely an
illusion. No single person or source can provide you with an accurate portrayal
of any world event. Any piece of news is just a representation of a
corresponding event, which is prone to being biased, i.e. prejudiced,
influenced by unrelated factors.
</p>
<p>
For over a century Cognitive Sciences are trying to unfold how people build
representation of the world in their minds and translate it to the minds of
others.  From Cognitive Psychology perspective we are unable to overcome our
own brain’s tricks. That is why every paper written, every article posted is
flooded with cognitive illusions and biases. In our view journalists are no
exceptions either, and are not immune to being biased. No matter how they strive
to write a credible article, they are unable to fully overcome numerous
cognitive illusions, inseparable from the human brain.
</p>
<p>
We believe the only antidote out there is awareness. In this article we
encourage you to look for the following phenomena in the news articles you
read, and in fact in any piece of information you receive. Noting these
cognitive biases or “illusions” will help you make better source choices,
interpret the information you get correctly, and therefore make less biased
judgements and form a more accurate representation of the world as a result.
<p/>
<br>

<div class="bias_header"><b>THE FUNDAMENTAL ATTRIBUTION ERROR</b></div>
Attribution is a process of assigning causes to events or  human behavior.
Our biggest problem is that we cannot just observe an event and retrieve
exactly the way it was. We always aim to find internal reasons, links to other
events and pieces of knowledge.   There could be a lot of mistakes made on the
way. One of the most well known ones is the fundamental attribution error:
according to research, people tend to explain their own mistakes as a result
of external conditions and mistakes of others as a result of their internal
dispositions. So if someone cuts your way on the road, you are more likely to
think he is just a mean person, rather than that he was in a hurry. But if you
have ever misbehaved while driving, it must have been caused by an emergency,
right?
<br><br><br>

<div class="bias_header"><b>ILLUSORY CORRELATION </b></div>
  Not only are we prone to making mistakes when explaining
an event or someone’s behavior, we also tend to find links and relationships
between facts when no such relationship exists. It has been shown that two
unlikely events tend to be interlinked in our perception, e.g. events ‘being a
member of a minority group“ and “having uncommon negative traits”.
<br><br><br>

<div class="bias_header"><b>CAUSAL LINKING OF EVENTS  </b></div>
It does not matter how many times your teacher
repeated that correlation does not imply causation, your brain can still be
tricked. Interestingly, both people from academia and those with lower
educational level tend to be equally prone to this illusion.  One can believe
the mere fact he is watching a sports competition cannot influence its outcome
in any way, but still feel involved. Good to know though, awareness and
thorough thinking may reduce this effect.
<br><br><br>

<div class="bias_header"><b>AVAILABILITY HEURISTIC </b></div>
When we elaborate on a topic we always try to remember
the most prominent arguments and facts. But things can be tricky: the quicker
the information comes to your mind, the more valuable you perceive it. So if
the news covering the Olympics appear more often in the media sources you use
most, you may start to believe Olympic games are much more important than the
economic crisis in your country.
<br><br><br>

<div class="bias_header"><b>OVERSIMPLIFICATION OF EXPLANATION OF COMPLEX EVENTS </b></div>
When people try figure out
why something is happening, they make hypotheses or, in other words, build
theories. Same happens when one writes an article. A journalist tries to find
the information and sources necessary to reveal the truth. But here he can
face another trick of human psychology - oversimplification. Once a theory is
established in one’s mind, other contributing causes are disregarded. Once we
think we now how something works, we become lazy and make less effort to look
for alternative hypotheses.
<br><br><br>

<div class="bias_header"><b>EXPERTS VS NOVICE JOURNALISTS </b></div>
Experience matters. Always and in every
field. There is no surprise it matters for publicists. There are findings
showing that more experienced publishers go for more generic, well known
theories and frames of view than their novice colleagues. On the other hand,
novice journalists tend to be more categorical in the way they perceive the
world, striving to find a simpler explanation, whereas ‘experts’ are more
likely to choose a more comprehensive justification, which takes different
causes and points of view into account.
<br><br><br>

<div class="bias_header"><b>MYSIDE BIAS </b></div>
Being right just feels great. That’s why information that confirms
our pre-existing opinions and beliefs tends to come first to our minds. And
if it doesn’t, we can just ask Google if he (it) agrees with us. “Hey, Google.
Cats are cute, right?”
<br><br><br>

<div class="bias_header"><b>HANDLING OF SOURCES </b></div>
When you really like a blog of news page you just trust it.
Sometimes unconditionally. Research shows “friendly” sources are usually
addressed less critically than opposing ones. What’s even more concerning is
that journalists have been shown to rate papers supporting their opinion as more
credible.
<br><br><br>

</div>
{% endblock %}
