{% extends '_layouts/base.html'%}

{% block headline %} <div class="content_header"><h1>Terms and Conditions</h1></div> {% endblock headline %}


{% block content %}



<div class="content">



We kindly ask you to read carefully about the terms and conditions of our website.
<br>
<br>
<ul>
  <li>Before uploading your summary of the news article, please check terms of use of the source.
    Some media do not allow to use their content (texts, photos, etc.) without written permission. Otherwise, we would have to reject your summary.</li>
  <li>We would reject your summaries and comments, if they contained insults, swear words, and any discrimination.</li>
<li>  You can use the content of this site without our permission. Please, add an active link to the particular summary..</li>
<li>  We do not share all opinions expressed by the authors of the original news.</li>
</ul>

</div>

{% endblock %}
